
<h1 id="title">Burgers!</h1>

<img id="burgerPic" src="/assets/img/burger.png">

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-4"></div>

        <form class="create-burger">
            <div class="form-group col-sm-6 col-md-4">
                <form id="name">
                    <div class="input-group" id="name-input">
                        <input type="text" class="form-control" placeholder="Enter New Burger" id="burger-input">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="submit">Make the Burger</button>
                        </span>
                    </div>
                </form>
            </div>
        </form>

        <div class="col-sm-3 col-md-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Burgers sitting and getting cold</div>
                <div class="panel-body">
                    {{#each burgers}} {{#unless this.devoured}} {{this.id}}. {{this.burger_name}}
                    <span id="right">
                        <button data-id="{{this.id}}" type="button" class="devour-btn btn btn-success btn-xs float-right">Eat</button>
                    </span>
                    <hr> {{/unless}} {{/each}}
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Ghosts of Burgers Past</div>
                <div class="panel-body">
                    {{#each burgers}} {{#if this.devoured}}
                    <span id="devoured-item">{{this.id}}. {{this.burger_name}}</span>
                    <hr> {{/if}} {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>

    <br>

</div>